* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --brown: #AA7368;
  --chocolate: #AD7F76;
  --gray: #a8a8a8;
  --green: #B5AC9D;
  --light_gray: #cccccc;
  --light_green: #E5E8E3;
  --off-white: #f8f8f8;
  --orange: #CA9074;
  --shadow: #00000030;
  --white: #ffffff;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--off-white);
  background-image: url("https://www.transparenttextures.com/patterns/wine-cork.png");
}
