:root {
  --black: #212121;
  --error: #D12929;
  --off-white: #f8f8f8;
  --primary: #AA7368;
  --secondary: #9faa68;
  --shadow: #00000060;
  --white: #ffffff;
  --warning: #ffbf00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--off-white);
  background-image: url("https://www.transparenttextures.com/patterns/wine-cork.png");
}

button:focus {
  outline: 5px auto var(--warning);
}
