* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --brown: #AA7368;
  --chocolate: #AD7F76;
  --gray: #a8a8a8;
  --green: #B5AC9D;
  --light_gray: #cccccc;
  --light_green: #E5E8E3;
  --off-white: #f8f8f8;
  --orange: #CA9074;
  --shadow: #00000030;
  --white: #ffffff;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
body {
  background: var(--off-white);
  padding: 0 1.6rem;
}

header {
  background-color: var(--brown);
  box-shadow: 0 0 1rem 0 var(--shadow);
  margin: auto -1.6rem;
  padding: 1.6rem 3.2rem;
}

header h1 {
  color: var(--white);
  font-family: "McLaren", cursive;
  font-size: 4rem;
  font-weight: 200;
}

footer {
  position: absolute;
  bottom: 0;

  text-align: center;

  height: 2.5rem;
  width: 100%;
}
footer p {
  color: var(--gray);
}

.note {
  background: var(--white);
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.5rem var(--light_gray);
  float: left;
  margin: 1.6rem;
  padding: 2rem;
  width: 24rem;
}
.note h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.note p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note p:last-child {
  margin-bottom: 0;
}
